body {
   min-height: 100vh;
   display: flex;
   margin: 0;
   flex-direction: column;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    font-size: 18px; 
    color: #E5E7EB;
}
.tip {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}
.links {
   display: flex;
   gap: 20px;
}
ul {
    list-style-type: none;
}
a {
     text-decoration: none;
}
.all {
    display: flex;
    padding: 100px;
    justify-content: center;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 470px;
}
.right img {
   height: 300px;
   max-width: 500px;
}
p {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}
button {
    background-color: #3882f6;
    border-radius: 5px;
    color: #E5E7EB;
    padding: 7px 25px;
    font-weight: bold;
    border-style: solid;
}
.kind button{
    border-color: #3882f6;
}



img {
    height: auto;
    max-width: 100px;
}
.text {
    max-width: 100px;
}
.middle {
    display: flex;
    text-align: center;
    justify-content: center;
}
h2 {
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
    text-align: center;
}

.end {
    background-color: #3882f6;
}
.happy button {
    border-color: #F9FAF8;
}

